page-my-account {
  .nice-background {
      background-image: url('../assets/img/main_background.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .img-profile{
     width:25%;
     height:25%;
    }
    .avatar-margin{
      margin : 15% 0 0 40%;
    }
    .row-margin{
      margin-left: 10%;
    }
}
