page-test {
.div_main{
  width:100%;
  height:200px;
  position:relative;
  background:#ffffff;
}
.div_1{
  background:green;
   position:relative;
    width:3%;
     height:8%;
     float: left;
     margin-right: 2%
}
.div_2{
  background:red;
   position:relative;
    width:3%;
     height:8%;
     float: left;
     margin-right: 2%
}
}
